
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <!-- Compiled and minified JavaScript -->

    <title></title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper #ffffff grey lighten-5">
        <a href="#" class="brand-logo center" style="height:50px;"><%= image_tag "logo.png",:class => "nav-bar-image" %></a>

        <a href="#" ><i class="material-icons-outlined">menu</i></a>
      </div>
    </nav>
    <div class="main">
    <section class="carousel">
      <% (1..4).each do |i| %>
        <div class="carousel__image"> <%= image_tag "Buildings/bigapt#{i}.jpg"%> </div>
      <% end %>

    </section>

    <hr class="line_break_top">
    <h2>Rental Buildings</h2>
    <section class = "apartment__cards">

      <% @buildings.each do |building| %>

      <div class="apartment__card">
        <div class="apartment__image">
          <%= image_tag building.building_imgLocation  %>
        </div>
        <div class="apartment__content">
          <div class="apartment__title">
            <h2><%=building.building_name%></h2>
          </div>
          <div class="apartment__city">
            <h3><%=building.building_city%></h3>
          </div>
          <div class="apartment__button">
            <button>See Apartments</button>
          </div>
        </div>
      </div>

      <% end %>

    </section>
    <hr class="line_break_bottom">
  </div>


</html>
