
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <!-- Compiled and minified JavaScript -->

    <title></title>
  </head>
  <body>
    <div class="nav">
      <i style="font-size:42px; cursor:pointer" class="fa">&#xf0c9;</i>
      <%= image_tag "logo.png",:class => "nav-bar-image" %>
      <p>   </p>
    </div>
    <div class="main">
    <section class="carousel">
      <% (1..4).each do |i| %>
        <div class="carousel__image"> <%= image_tag "Buildings/bigapt#{i}.jpg"%> </div>
      <% end %>

    </section>

    <hr class="line_break_top">
    <h2>Rental Buildings</h2>
    <section class = "apartment__cards">

      <% @buildings.each do |building| %>

      <div class="apartment__card">
        <div class="apartment__image">
          <%= image_tag building.building_imgLocation  %>
        </div>
        <div class="apartment__content">
          <div class="apartment__title">
            <h2><%=building.building_name%></h2>
          </div>
          <div class="apartment__city">
            <h3><%=building.building_city%></h3>
          </div>
          <div class="apartment__button">
            <a href="/building/<%=building.id%>" >See Apartments</a>
          </div>
        </div>
      </div>

      <% end %>

    </section>
    <hr class="line_break_bottom">
  </div>


</html>
