
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <!-- Compiled and minified JavaScript -->

    <title></title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper #ffffff grey lighten-5">
        <a href="#" class="brand-logo center" style="height:50px;"><%= image_tag "logo.png",:class => "nav-bar-image" %></a>

        <a href="#" ><i class="material-icons-outlined">menu</i></a>
      </div>
    </nav>
    <div class="main">
    <section class="carousel">
      <div class="carousel__image"> <%= image_tag "Buildings/bigapt1.jpg"%> </div>
      <div class="carousel__image"> <%= image_tag "Buildings/bigapt2.jpg"%> </div>
      <div class="carousel__image"> <%= image_tag "Buildings/bigapt3.jpg"%></div>
      <div class="carousel__image"> <%= image_tag "Buildings/bigapt4.jpg"%> </div>
    </section>

    <hr class="line_break_top">
    <h2>Rental Buildings</h2>
    <section class = "apartment__cards">
      <div class="apartment__card">
        <div class="apartment__image">
          <img src="./img/Apartments/bld1.jpeg" alt="">
        </div>
        <div class="apartment__content">
          <div class="apartment__title">
            <h2>One Sutton Place</h2>
          </div>
          <div class="apartment__city">
            <h3>Sutton Place</h3>
          </div>
          <div class="apartment__button">
            <button>See Apartments</button>
          </div>
        </div>
      </div>

    </section>
    <hr class="line_break_bottom">
  </div>


</html>
